Rag agent 1.json
{
  "name": "Rag agent 1",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -96,
        160
      ],
      "id": "4bd33edb-d166-4b5a-ad63-4a3d03a8f7df",
      "name": "When chat message received",
      "webhookId": "7336cccc-9079-42c5-91dd-10b458422611"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        176
      ],
      "id": "8ee04ed2-2448-4a17-b17c-2891401bbc45",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rmqdgOPtL77q90Ez",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "test-session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        256,
        176
      ],
      "id": "6494b00d-f066-49cd-8f47-1a486ba3684f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "oCTDSNy960oVXTP1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to search the company HR document for rules, WFH policies, and Wi-Fi passwords.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        384,
        176
      ],
      "id": "c975e3d4-0177-4b99-a6d1-89115a8e6579",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "oEGxl96dtfypYEJq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1pzkTS9hpdWB5SQUCQanCaW-E64a5QrbZ",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        800
      ],
      "id": "c9b6a556-4232-4af8-bb2c-575e105ab032",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qqpx5pQ11M2phW03",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        384,
        800
      ],
      "id": "6d9720a1-2cb2-4bd4-bba1-ae7b1952ffff",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "oEGxl96dtfypYEJq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        1024
      ],
      "id": "b2f550a0-1e4f-4d18-8bf0-f5a7e01b41bb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        1232
      ],
      "id": "ab4343d2-a39f-41a3-809e-290f47f8c141",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        800
      ],
      "id": "8df21e55-ee67-4c78-ae6b-164cd46c70e8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a professional HR Assistant for Quantum Innovations. Answer the user's questions strictly and politely based ONLY on the provided company document in the database."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        184,
        -48
      ],
      "id": "d7c1e6a3-07ff-45a1-b739-0a12f06ba210",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        1024
      ],
      "id": "5ef9a5d7-e86e-4780-9289-9377a08dc917",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "bILJ41G8ystFyeXS",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        384
      ],
      "id": "8a2b0a91-c7fc-43f9-bb68-f2da2de8e057",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "bILJ41G8ystFyeXS",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7509e799-5f9a-4cc6-bb91-d9ca63262811",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8036ac13a8e847b263d5a05d7f4f66d7942c845946c8fb795b1512e17b14ebb"
  },
  "id": "V1n8RAwAROmiibT3",
  "tags": []
}